# Бинарники Go
*.exe
*.out
*.test

# Временные файлы / кэш
*.log
*.tmp

# IDE / редакторы
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Env файлы
.env

# Swagger
docs/swagger.json
docs/swagger.yaml
